@model IEnumerable<BarberShop.Domain.Entities.Servico>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Serviços";

}

<div id="servicoPage" class="container-fluid">
    <h2 class="text-center">Gerenciar Serviços</h2>
    <button class="btn mb-3"
            id="btnAdicionarServico"
            style="background-color: #ff4d4d; color: #fff; border: none;">
        Adicionar Serviço
    </button>

    <!-- Tabela exibida em telas maiores -->
    <div class="table-responsive d-none d-md-block">
        <table class="table table-dark table-striped" id="tabelaServicos">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Duração</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var servico in Model)
                {
                    <tr data-id="@servico.ServicoId">
                        <td>@servico.Nome</td>
                        <td>@servico.Preco.ToString("N2")</td> <!-- Formatação ajustada -->
                        <td>@servico.Duracao</td>
                        <td>
                            <button class="btn btn-warning btn-sm btnEditar" data-id="@servico.ServicoId">Editar</button>
                            <button class="btn btn-danger btn-sm btnExcluir" data-id="@servico.ServicoId">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Estrutura de cartões exibida em telas menores -->
    <div class="servicos-list d-md-none">
        @foreach (var servico in Model)
        {
            <div class="servico-card" data-id="@servico.ServicoId">
                <div class="servico-card-body">
                    <div class="servico-card-line">
                        <p><strong>Nome:</strong> @servico.Nome</p>
                    </div>
                    <div class="servico-card-line">
                        <p><strong>Preço:</strong> @servico.Preco.ToString("N2")</p> <!-- Formatação ajustada -->
                    </div>
                    <div class="servico-card-line">
                        <p><strong>Duração:</strong> @servico.Duracao</p>
                    </div>
                    <div class="servico-card-actions" style="margin-top: 10px !important ">
                        <button class="btn btn-warning btn-sm btnEditar" data-id="@servico.ServicoId">Editar</button>
                        <button class="btn btn-danger btn-sm btnExcluir" data-id="@servico.ServicoId">Excluir</button>
                    </div>
                </div>
            </div>
        }
    </div>


    <!-- Modal para Adição -->
    <div class="modal fade" id="adicionarModal" tabindex="-1" aria-labelledby="adicionarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="formAdicionarServico">
                    <div class="modal-header">
                        <h5 class="modal-title" id="adicionarModalLabel">Adicionar Serviço</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Nome">Nome</label>
                            <input type="text" class="form-control" id="adicionarNome" name="Nome" required />
                        </div>
                        <div class="form-group">
                            <label for="Preco">Preço</label>
                            <input type="text" class="form-control" id="adicionarPreco" name="Preco" required />
                        </div>
                        <div class="form-group">
                            <label for="Duracao">Duração (minutos)</label>
                            <input type="number" class="form-control" id="adicionarDuracao" name="Duracao" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para Edição -->
    <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="formEditarServico">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar Serviço</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="editarServicoId" name="ServicoId" />
                        <div class="form-group">
                            <label for="Nome">Nome</label>
                            <input type="text" class="form-control" id="editarNome" name="Nome" required />
                        </div>
                        <div class="form-group">
                            <label for="Preco">Preço</label>
                            <input type="text" class="form-control" id="editarPreco" name="Preco" required />
                        </div>

                        <div class="form-group">
                            <label for="Duracao">Duração (minutos)</label>
                            <input type="number" class="form-control" id="editarDuracao" name="Duracao" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para Exclusão -->
    <div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="excluirModalLabel">Excluir Serviço</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja excluir o serviço <strong id="excluirServicoNome"></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="button" id="btnConfirmarExcluir" class="btn btn-danger">Sim</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Spinner de carregamento (inicialmente oculto) -->
    <div id="loadingSpinnerServico" class="text-center mt-3" style="display:none; z-index: 1000;">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Carregando...</span>
        </div>
        <p class="mt-2 text-light">Carregando...</p>
    </div>

    <!-- Modal de Notificação -->
    <div class="modal fade" id="notificacaoModal" tabindex="-1" aria-labelledby="notificacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificacaoModalLabel">Notificação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="notificacaoMensagem">
                    <!-- A mensagem de notificação será inserida aqui -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
